<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h1 class="text-center">Forgot Password?</h1>
      <h5 class="text-center">Please enter registered email.</h5>
      <br /><br />
      <form action="/forgotpassword" method="POST" [formGroup]="form">
        <span class="span error-msg" *ngIf='message=="done"'><i class="fa fa-info-circle" aria-hidden="true"></i> 
          Password has been sent to your registered email.</span>
        <span class="span error-msg" *ngIf='message=="invalid"'><i class="fa fa-info-circle" aria-hidden="true"></i> 
          No data found with given email id.</span>
        <span class="span error-msg" *ngIf='message=="error"'><i class="fa fa-info-circle" aria-hidden="true"></i> 
          Some error occured. Please try again.</span>
        <div class="form-group">
          <label for="email">Registered Email</label>
          <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="Enter registered email..."
            name="email"
            autofocus
          />
        </div>
        <div class="col-sm-4">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!form.valid"
            (click)="forgotpassword(form.value)"
          >
            Submit
          </button>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <a routerLink="/signin"><button type="submit" class="btn btn-danger">Cancel</button></a>
        </div>
      </form>
    </div>
  </div>
</div>
